<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/Editar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Editar</title>
</head>
<body>
    <nav class="navbar">
        <div>
            <input type="text" name="name" placeholder="Digite Aqui..." class="inputNavbar">
                <img src="static/imgs/Icon_magnifying glass.svg" class="magnifyingGlass">
            </input>
        
        <img src="static/imgs/Image 17.svg" class="photo">
        

    <div class="boxMenu">
        <input type="checkbox" id="check">
      <div class="menuIcon">       
          <label for="check">
            <img src="static/imgs/Icon_menu.svg">
          </label> 
        </div>


       <nav class="sidebarMenu">     
          <img class="logo" src="static/imgs/Logo_liberty 1.svg">
         <ul>
            <li>
                <a href="Home.html">Home</a>
            </li>
            <li>
                <a href="Perfil.html">Meu Perfil</a>
            </li>
            <li>
                <a href="#">Meus Cursos</a>
            </li>
            <li>
                <a href="#">Meus Certificados</a>
            </li>
            <li>
                <a href="#">Suporte</a>
            </li>
            <li>
                <a href="#">Configurações</a>
            </li>
            <li>
                <a  href="Login.html">Fazer Logout</a>
            </li>
            
            <div class="close">
                <label for="check">
              <img src="static/imgs/Icon_Exit.svg">
              </label>
             </div>
            
           </ul>
           
        </nav>

        
      </div>
    </nav>
    <br>
    <br>
    <form class="editImage">
        <h1>Foto de Perfil</h1>
        <a href="Perfil.html" class="link">X</a>
        <br>
        <img src="static/imgs/Image 17.svg" class="iconUser">
        <img src="static/imgs/Rotate.svg" class="rotate">
        <p>Rotate</p>
          <div>
              <div>
                <label class="name" for="nome">Nome:</label>
               <input type="email" id="nome" class="inputName">
              </div>

              <div>
                <label class="surname" for="sobrenome">Sobrenome:</label>
                <input type="email" id="sobrenome" class="inputLastname">
              </div>

              <div>
                <label class="email" for="email">Email:</label>
               <input type="email" id="email" class="inputEmail">
              </div>
         </div>
          <br>
          <br>
          <br>
          <br>
          <div class="editBar">
            <div class="icons">
               <img src="static/imgs/Icon_pencil 2.svg" class="edit" width="50px" height="45px">
               <img src="static/imgs/Icon_foto.svg" class="upload" width="50px" height="50px">
               <img src="static/imgs/Icon_trash.svg" class="delete" width="50px" height="45px">
            </div>
            <div class="div-h1">
               <h1 class="h1-editar">Editar</h1>
               <h1 class="h1-upload">Subir Foto</h1>
          </div>
          <div class="div-h1-2">
            <h1 class="h1-excluir">Excluir</h1>
          </div>
        </form>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
                
    
</body>
</html>