<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/editCurso.css">
    <title>Document</title>
</head>

<body>

    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Nome do Curso </th>
                    <th>Descrição </th>
                    <th>Valor </th>
                    <th>Carga Horária </th>
                </tr>
            </thead>
            <tbody>
                {% for curso in cursos %}
                <tr>
                    <td>{{ curso.nomeCurso }}</td>
                    <td>{{ curso.descricao }}</td>
                    <td>{{ curso.valor }}</td>
                    <td>{{ curso.cargaHoraria }}</td>
                    <td>
                        <input type="submit" class="btn btn-primary"
                            onclick="location.href='{{ url_for('editCurso', id=curso.id) }}'">Atualizar</button>
                        <button type="button" class="btn btn-danger"
                            onclick="location.href='{{ url_for('deleteCurso', id=curso.id) }}'">Excluir</button>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>