<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/Perfil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Perfil</title>
</head>
<body>
<nav class="navbar">
    <div>
        <input type="text" name="name" placeholder="Digite Aqui..." class="inputNavbar">
            <img src="static/imgs//Icon_magnifying glass.svg" class="magnifyingGlass">
       
    </input>
    
    <img src="static/imgs//Image 17.svg" class="photo">
    

<div class="boxMenu">
    <input type="checkbox" id="check">
  <div class="menuIcon">       
    <label for="check">
      <img src="static/imgs//Icon_menu.svg">
    </label> 
  </div>


   <nav class="sidebarMenu">     
      <img class="logo" src="static/imgs//Logo_liberty 1.svg">
     <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/perfil">Meu Perfil</a>
        </li>
        <li>
            <a href="/curso">Meus Cursos</a>
        </li>
        <li>
            <a href="#">Meus Certificados</a>
        </li>
        <li>
            <a href="#">Suporte</a>
        </li>
        <li>
            <a href="#">Configurações</a>
        </li>
        <li>
            <a  href="Login.html">Fazer Logout</a>
        </li>
        
        <div class="close">
            <label for="check">
          <img src="static/imgs//Icon_Exit.svg">
          </label>
         </div>
        
       </ul>
       
    </nav>

    
  </div>
</nav>
    <br>
    <br>
    
    <div class="picture">
        <img src="static/imgs//Image 17.svg" class="iconUser">
         <a href="Editar.html" class="link"><img src="static/imgs//Icon_pencil.svg" class="pencil"></a>
        <hr>
        <br>
        <h1>Sobre</h1>
        <p>Olá, Me Chamo Bianca. Atualmente, tenho 25 Anos e sou uma entusiasta da progamação.
             Comecei a me interessar por progamação
            aos 22 anos e desde então tenho explorado
             as complexidades do código e suas possibilidades. 
             Tenho interesse na área de Front-End. Minhas Especialidades 
             inclui a aplicação de principios de design responsivel e otimização 
             de sites. Até o momento, tenho conhecimento em HTML, CSS, JAVASCRIPT, 
             TYPESCRIPT, PYTHON E BOOTSTRAP.
            </p>
    </div>
    <br>
    

    <div class="icons">
    <hr>
    <img src="static/imgs//Icon_github.svg">
    <img src="static/imgs//Icon_instagram(2).svg" >
    <img src="static/imgs//Icon_google-gmail.svg" >
    <img src="static/imgs//Icon_linkedin.svg" >
    <img src="static/imgs//Icon_facebook.svg" >
    <hr>
    </div>
    <br>
    <br>

    <div class="certificados">
        <h1>Certificados/Badges</h1>
        <img src="static/imgs//Image 11.svg">
        <img src="static/imgs//Image 12.svg">
        <img src="static/imgs//Image 14.svg">
        <img src="static/imgs//Image 15.svg">
        <img src="static/imgs//Image 16.svg">
    </div>
    

    <div class="comentarios">
        <h1>Comentarios</h1>
        <img src="static/imgs//Image 18.svg"> 
        <h2>Vanessa</h2>
        <p> Oi Bianca, vi que você tem bastante interesse na área de Front-End e
            que voce tem conhecimento em JavaScript e em TypeScript,
            sugiro fortemente que você faça o curso de react aqui da plataforma.
            Acho que vai acrescentar muito na sua formação. </p>

    </div>

    
    <br>
    <br>
    <br>

    <footer>
        <div class="divFooterOne">
             <h1 class="footerh1">Tá com duvida?</h1>
             <p class="footerp" href="#">Quem somos</p>
             <img src="static/imgs//Logo_liberty 1.svg" class="logoFooter">
        </div>
        <div class="divFooterTwo">
            <h1 class="footerTwoh1" href="#">Quer saber mais ?</h1>
            <p class="footerTwop" href="#">Contato</p>
            <p class="footerTwop2" href="#">Trabalhe conosco</p>
            <p class="footerTwop3" href="#">Termos</p>
            <p class="footerTwop4" href="#">Politica de privacidade</p>
            <p class="footerTwop5" href="#">Configurações de cookie</p>
        </div>
        <div class="divFooterThree">
            <div>
                <div>
               <h1 class="footerThreeh1">Fale com a gente</h1>
                </div>
               <img src="static/imgs//Icon_message.svg" class="iconMessage">
               <img src="static/imgs//Icon_whatsapp.svg"   class="iconWhatsapp">
            </div>
            <div>
               <h2 class="footerThreeh2">Nossas Redes</h2>
               <img src="static/imgs//Icon_instagram.svg"class="iconInstagram">
               <img src="static/imgs//Icon_youtube.svg"class="iconYoutube">
               <p class="footer3p">© 2023 Liberty Cursos, Inc</p>
            </div>
        </div>
    </footer>


</html>