<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/Video.css" />
    <title>Video</title>
  </head>
  <body>
    <div class="navbar">
      <span class="menu-btn" onclick="toggleMenu()">&#9776;</span>
      <div class="search-container">
        <input type="text" placeholder="Pesquisar..." />
        <i class="fas fa-search"></i>
      </div>
      <div class="icons">
        <img src="static/imgs/Image 17.svg" class="photo" />
      </div>
    </div>

    <nav class="menu" id="menu">
      <img class="logoMenu" src="static/imgs/Logo_liberty 1.svg" />
      <ul>
        <li>
          <a href="Home.html">Home</a>
        </li>
        <li>
          <a href="Perfil.html">Meu Perfil</a>
        </li>
        <li>
          <a href="#">Meus Cursos</a>
        </li>
        <li>
          <a href="#">Meus Certificados</a>
        </li>
        <li>
          <a href="#">Suporte</a>
        </li>
        <li>
          <a href="#">Configurações</a>
        </li>
        <li>
          <a href="Login.html">Fazer Logout</a>
        </li>
      </ul>
      <span class="menu-btn" onclick="toggleMenu()">
        <img src="static/imgs/Icon_Exit.svg" width="50px" />
      </span>
    </nav>

    <section class="sectionVideo">
      <div>
      <video width="620" height="440" controls>
        <source src="static/imgs/videoArduino.mp4" type="video/mp4" />
        Seu navegador não suporta o elemento de vídeo.
      </video>
    
      <div class="boxVideo">
        <input type="checkbox" id="menuVideo" class="menuVideoCheckbox" />
        <div class="playlistVideo">
          <label for="menuVideo">
            <img src="static/imgs/Icon_playlist.svg" alt="Playlist Icon" />
          </label>
        </div>
    
        <nav class="sidebarMenuvideo">
          <ul>
            <li class="nav-item">
              <a href="#">Apresentação do Curso</a>
            </li>
            <li class="nav-item">
              <a href="#">Conheçendo o Arduino</a>
            </li>
            <li class="nav-item">
              <a href="#">Botões e Chaves</a>
            </li>
            <li class="nav-item">
              <a href="#">Display de 7 Segmentos</a>
            </li>
            <li class="nav-item">
              <a href="#">Display LCD</a>
            </li>
            <li class="nav-item">
              <a href="#">Conclusão do Curso</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="descricao">
        <h1 class="titulo"> Aula 1 -  Introdução ao Html e CSS</h1>
        
          <button class="buttonLike"><img src="static/imgs/Icon_Like.svg"></button>
          <button class="buttonDisike"><img src="static/imgs/Icon_Dislike.svg"></button>
          <details>
            <summary>Descrição da Aula</summary>
        <div>
            <h3> 2562 Visualizações.  12/05/2024</h3>
            <p>Bem-vindos à nossa aula introdutória sobre Arduino!
                Nesta aula, vamos explorar<br> os conceitos básicos do Arduino, 
                aprender sobre sua história e entender como ele<br> funciona.</p>
            <p>Email para Contato - <h2 class="gmail">tiagohenrique717@gmail.com</h2></p>
            <p>Siga-me no Instagram - <h2 class="instagram">@proftiagohenrique</h2></p>
            <div>       
            </div>

             </details>
        </div>
    </section>
    
    <script>
      function toggleMenu() {
        var menu = document.getElementById("menu");
        if (menu.classList.contains("open-menu")) {
          menu.classList.remove("open-menu");
        } else {
          menu.classList.add("open-menu");
        }
      }
    </script>
     
    
    
    
    </div>
    <div class="comments">
        <h1>Comentarios</h1>
        <button class="buttonComments"><p>+ Adicionar Comentario</p></button>
        <div class="allComments">
         <div class="commentsOne">
          <img src="static/imgs/Image 18.svg"> 
           <h2>Vanessa</h2>
           <h3> Parabéns, professor! Obrigado pelo curso. </p>
         </div>
         <br>
         
         <div class="commentsTwo">
            <img src="static/imgs/Image 20.svg"> 
             <h2>Leticia</h2>
             <h3> Top! Já estou aqui aprendendo !</p>
          </div>
          <br>
        
          <div class="commentsThree">
            <img src="static/imgs/Image 21.svg"> 
             <h2>Denise</h2>
             <h3> A edição está de parabéns... </p>
          </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <footer>
        <div class="divFooterOne">
             <h1 class="footerh1">Tá com duvida?</h1>
             <p class="footerp" href="#">Quem somos</p>
             <img src="static/imgs/Logo_liberty 1.svg" class="logoFooter">
        </div>
        <div class="divFooterTwo">
            <h1 class="footerTwoh1" href="#">Quer saber mais ?</h1>
            <p class="footerTwop" href="#">Contato</p>
            <p class="footerTwop2" href="#">Trabalhe conosco</p>
            <p class="footerTwop3" href="#">Termos</p>
            <p class="footerTwop4" href="#">Politica de privacidade</p>
            <p class="footerTwop5" href="#">Configurações de cookie</p>
        </div>
        <div class="divFooterThree">
            <div>
                <div>
               <h1 class="footerThreeh1">Fale com a gente</h1>
                </div>
               <img src="static/imgs/Icon_message.svg" class="iconMessage">
               <img src="static/imgs/Icon_whatsapp.svg"   class="iconWhatsapp">
            </div>
            <div>
               <h2 class="footerThreeh2">Nossas Redes</h2>
               <img src="static/imgs/Icon_instagram.svg"class="iconInstagram">
               <img src="static/imgs/Icon_youtube.svg"class="iconYoutube">
               <p class="footer3p">© 2024 Liberty Cursos, Inc</p>
            </div>
        </div>
    </footer> 
  </body>
</html>
