<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/Video.css" />
    <title>Video</title>
  </head>
  <body>
    <div class="navbar">
      <span class="menu-btn" onclick="toggleMenu()">&#9776;</span>
      <div class="search-container">
        <input type="text" placeholder="Pesquisar..." />
      </div>
      <div class="icons">
        <img src="static/imgs/Image 17.svg" class="photo" />
      </div>
    </div>

    <nav class="menu" id="menu">
      <div class="posiItensMenuNav">
      <img class="logoMenu" src="static/imgs/Logo_liberty 1.svg" />
      <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/perfil">Meu Perfil</a>
        </li>
        <li>
          <a href="#">Meus Cursos</a>
        </li>
        <li>
          <a href="#">Meus Certificados</a>
        </li>
        <li>
          <a href="#">Suporte</a>
        </li>
        <li>
          <a href="#">Configurações</a>
        </li>
        <li>
          <a href="/">Fazer Logout</a>
        </li>
        <span class="menu-btn" onclick="toggleMenu()">
          <img src="static/imgs/Icon_Exit.svg" width="20%" />
        </span>
      </ul>
    </div>
    </nav>

    <section class="sectionVideo">
      <div>
        <video width="720" height="540" controls>
          <source src="static/imgs/videoArduino.mp4" type="video/mp4" />
          Seu navegador não suporta o elemento de vídeo.
        </video>
      </div>
      
    </section>

    <div class="descricao">
      <div class="posiBtnHeader">
      <h1 class="titulo">Aula 1 - Introdução ao Html e CSS</h1>
        <button id="toggleMenuButton" class="btnSidebar">
          <img src="static/imgs/Icon_playlist.svg" alt="Playlist Icon" />
        </button>

        <nav class="sidebarMenuvideo">
          <ul class="ul-sidebarMenuvideo">
            <li class="nav-itemVideos">
              <img src="static/imgs/Image 19.svg"> 
              <a href="#">Apresentação do Curso</a>
            </li>
            <li class="nav-itemVideos">
              <img src="static/imgs/Image 19.svg" >
              <a href="#">Conhecendo o Arduino</a>
            </li>
            <li class="nav-itemVideos">
              <img src="static/imgs/Image 19.svg" >

              <a href="#">Botões e Chaves</a>
            </li>
            <li class="nav-itemVideos">
              <img src="static/imgs/Image 19.svg" >

              <a href="#">Display de 7 Segmentos</a>
            </li>
            <li class="nav-itemVideos">
              <img src="static/imgs/Image 19.svg"> 

              <a href="#">Display LCD</a>
            </li>
            <li class="nav-itemVideos">
              <img src="static/imgs/Image 19.svg" >

              <a href="#">Conclusão do Curso</a>
            </li>
          </ul>
        </nav>
    </div>
      <div class="buttons">
        <button>
          <img src="static/imgs/Icon_Like.svg" alt="Like" />
        </button>
        <button>
          <img src="static/imgs/Icon_Dislike.svg" alt="Dislike" />
        </button>
      </div>

      <details>
        <summary>Descrição da Aula</summary>
        <div>
          <h3>2562 Visualizações. 12/05/2024</h3>
          <p>
            Bem-vindos à nossa aula introdutória sobre Arduino! Nesta aula,
            vamos explorar os conceitos básicos do Arduino, aprender sobre sua
            história e entender como ele funciona.
          </p>
          <p>Email para Contato - tiagohenrique717@gmail.com</p>
          <p>Siga-me no Instagram - @proftiagohenrique</p>
        </div>
      </details>
    </div>

    <div class="comments">
      <h1>Comentarios</h1>
      <button class="buttonComments">+ Adicionar Comentario</button>
      <div class="allComments">
        <div class="commentsOne">
          <img src="static/imgs/Image 18.svg" />
          <h2>Vanessa</h2>
          <h3>Parabéns, professor! Obrigado pelo curso.</h3>
        </div>
        <br />
      </div>
    </div>

    <footer>
      <div class="posiDivHeader">
        <div class="divFooterOne">
          <h1 class="footerh1">Tá com duvida?</h1>
          <p class="footerp" href="#">Quem somos</p>
          <img src="static/imgs/Logo_liberty 1.svg" class="logoFooter" />
        </div>
        <div class="divFooterTwo">
          <h1 class="footerTwoh1" href="#">Quer saber mais ?</h1>
          <p class="footerTwop" href="#">Contato</p>
          <p class="footerTwop" href="#">Trabalhe conosco</p>
          <p class="footerTwop" href="#">Termos</p>
          <p class="footerTwop" href="#">Politica de privacidade</p>
          <p class="footerTwop" href="#">Configurações de cookie</p>
        </div>
        <div class="divFooterThree">
          <div>
            <h1 class="footerThreeh1">Fale com a gente</h1>
            <div class="posiMidias">
              <img src="static/imgs/Icon_message.svg" class="iconMessage" />
              <img src="static/imgs/Icon_whatsapp.svg" class="iconWhatsapp" />
            </div>
          </div>
          <h2 class="footerThreeh2">Nossas Redes</h2>
          <div class="posiMidias">
            <img src="static/imgs/Icon_instagram.svg" class="iconInstagram" />
            <img src="static/imgs/Icon_youtube.svg" class="iconYoutube" />
          </div>
          <p class="footer3p">© 2024 Liberty Cursos, Inc</p>
        </div>
      </div>
    </footer>

    <script>
      function toggleMenu() {
        var menu = document.getElementById("menu");
        if (menu.classList.contains("open-menu")) {
          menu.classList.remove("open-menu");
        } else {
          menu.classList.add("open-menu");
        }
      }

      document
        .getElementById("toggleMenuButton")
        .addEventListener("click", function () {
          var sidebar = document.querySelector(".sidebarMenuvideo");
          sidebar.classList.toggle("show");
        });
    </script>
  </body>
</html>
