
body{
    background-image:#F2F2F2;
    font-family: 'Roboto', sans-serif;
}

.boxMenu{
    position: fixed;
    z-index: 2 
}

.navbar{
    background-color: #D926D9;
    height: 100px;
    border-bottom: 1px solid black;
}

.inputNavbar{
    width: 350px;
    height: 30px;
    border-radius: 10px;
    margin-left: 300px;
    margin-top: 25px;
    border: 2px solid #ffffff;
    background-color: #F2F2F2;
    opacity: 0.50;
    
}

::placeholder{
    color: #848484;
    font-weight: bold;
}


.magnifyingGlass{
    width: 20px;
    height: 20px;
    margin-left: 620px;
    margin-top: -25px;
    display: flex;
    flex: row wrap;
}

.photo{
    width: 70px;
    height: 70px;
    margin-left: 1080px;
    margin-top: -50px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebarMenu{
    background-image:linear-gradient(rgb(214, 77, 238),#845bf4);
    margin-top: -25px;
    width: 250px;
    left: -250px;
    height: 620px;
    position: absolute;
    border-radius: 10px;
    transition: all 0.3s linear;
    
}

label{
    padding: 15px;
    position: absolute;
    cursor: pointer;
}

label img{
    width: 50px;
    height: 50px;
}

input[type="checkbox"]
{
    display: none;
}


.menuIcon{
    margin-top: -75px;
    margin-left: 30px;
}

.menuIcon label{
    background-color: #D926D9;
    border-radius: 5px;
}

.sidebarMenu .logo{
    width: 80px;
    height: 80px;
    margin-top: 45px;
}

.sidebarMenu img{
     margin-top: -500px;
     width: 60px;
     margin-left: 40px;
}


li{
    text-decoration: none;
    list-style-type: none;
    
}

ul{
    top:120px;
    position:absolute;
    text-decoration: none;
    
}



li a{
    font-size: 16px;
    display: block;
    padding: 10px;
    width: 215px;
    text-decoration: none;
    color: #fff;
    
}

label h1{
    color: #000000;
    position: relative;
}

li a:hover{
    background-color: #952B95;
    color: white;
    width: 217px;
}
#check:checked ~ .sidebarMenu{
    left: 0;
}

.close{
    margin-left: 100px;
    margin-top: 360px;
}


.descrição{
    background-color:  #ffffff;
    padding-top: 30px;
    padding-bottom: 80px;
    
}

.descrição h1{
    font-size: 30px;
    margin-left: 50px;
    color: dodgerblue;
}

.descrição p{
    margin-left: 50px;
    margin-top: 10px;
    color: dodgerblue;
    
}

.imagem img{
    width: 250px;
    height: 250px;
    margin-left: 1000px;
    margin-top: -170px;
    display: flex;
    flex: row wrap;
    
}

.imagem button{
    display: flex;
    margin-left: 1000px;
    width: 250px;
}

.buttonStart{
    background-color: #952B95;
    color:#ffffff;
    border-radius: 10px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    margin-top: -50px;
    border: none;
    cursor: pointer;
}

.imagem a{
    text-decoration: none;
    color: #ffffff;
}

.buttonStart a:hover{
    color: rgb(70, 98, 240);
    letter-spacing: 1px;
    transform: scale(1.1);
    transition: ease 1s;
}

.buttonBuy{
    background-color: dodgerblue;
    color:#ffffff;
    width: 200px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.buttonBuy a:hover{
    color: #952B95;
    letter-spacing: 2px;
    transform: scale(1.2);
    transition: ease 1s;
}

.feedback{
    margin-left: 50px;
    
}

.feedback p{
    margin-top: -140px;
    margin-left: 150px;
    color: dodgerblue;
}

.feedback h1{
    margin-left: 310px;
    margin-top: -50px;
}

.feedback .professor{
    margin-left: 70px;
    margin-top: -50px;
    font-size: 20px;
    font-weight: bold;
    color: dodgerblue;
}

.professorImg{
    margin-top: 30px;
    width: 60px;
}

.number{
    width: 20px;
    margin-top: -240px;
    
}

.stars{
    width: 20px;
    margin-top: -240px;
    
}

.clock{
    width: 35px;
    height:35px;
    margin-top:-50px;
    margin-left:490px;
    position:absolute;
    color: blue;
}

.feedback h2{
    margin-top:-45px;
    margin-left:550px;
    font-size: 22px;
    position:absolute;
    color: dodgerblue;
}


footer{
    border-top: 1px solid rgb(0, 0, 0);;
    background-color: #7878FF;
}


.logo{
    width: 200px;
    height: 200px;
}

.divFooterOne{
    padding-top: 20px;
    display: flex;
    flex: row wrap;
}

.divFooterTwo{
    display: flex;
    flex: row wrap;
    margin-left: 10px;
}

.divFooterThree{
    margin-left: 45px;
    display: flex;
    flex: row wrap;
}

.footerh1{
    color: #ffffff;
    font-size: 15px;
    margin-left: 180px;
}

.footerp{
    color: #ffffff;
    margin-top: 25px;
    margin-left: -102px;
    cursor: pointer;
}

.footerp:hover{
    text-decoration: underline;
}

.logoFooter{
  width: 120px;
  height:120px;
  margin-top: 50px;
  margin-left: -108px;
}

.footerTwoh1{
    color: #ffffff;
    font-size:15px ;
    margin-left: 500px;
    margin-top: -170px;
}


.footerTwop{
    color: rgb(255, 255, 255);
    margin-top: -150px;
    margin-left: -117px;
    cursor: pointer;
}

.footerTwop:hover{
    text-decoration: underline;
}



.footerTwop2{
    color: rgb(255, 255, 255);
    margin-top: -120px;
    margin-left: -57px;
    cursor: pointer;
}

.footerTwop2:hover{
    text-decoration: underline;
}

.footerTwop3{
    color: rgb(255, 255, 255);
    margin-top: -90px;
    margin-left: -124px;
    cursor: pointer;
}

.footerTwop3:hover{
    text-decoration: underline;
}

.footerTwop4{
    color: rgb(255, 255, 255);
    margin-top: -60px;
    margin-left: -50px;
    cursor: pointer;
}

.footerTwop4:hover{
    text-decoration: underline;
}

.footerTwop5{
    color: rgb(255, 255, 255);
    margin-top: -30px;
    margin-left: -158px;
    cursor: pointer;
}

.footerTwop5:hover{
    text-decoration: underline;
}

.footerThreeh1{
    color: #ffffff;
    font-size:15px ;
    font-weight: bold;
    margin-left: 810px;
    margin-top: -180px;
    display: flex;
    flex: row wrap;
}

.iconMessage{
    width: 50px;
    height: 50px;
    margin-left: 810px;
    cursor: pointer;
    display: flex;
    flex: row wrap;
}

.iconWhatsapp{
    width: 50px;
    height: 50px;
    margin-left: 875px;
    margin-top: -50px;
    cursor: pointer;
    display: flex;
    flex: row wrap;
    
}

.footerThreeh2{
    color: #ffffff;
    font-size: 15px;
    margin-top: -70px;
    margin-left: -105px;
    font-weight: bold;
    display: flex;
    flex: row wrap;
}

.iconInstagram{
    width: 50px;
    height: 50px;
    margin-left:-115px;
    cursor: pointer;
    display: flex;
    flex: row wrap;
    
}

.iconYoutube{
    width: 50px;
    height: 50px;
    margin-left: -50px;
    margin-top: -50px;
    cursor: pointer;
    display: flex;
    flex: row wrap;
    
}

.footer3p{
    color: #ffffff;
    font-size: 15px;
    margin-left: 80px;
    font-weight: bold;
    display: flex;
    flex: row wrap;
    
}